replicas: 1

service:
  type: NodePort
  port: 3000

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: grafana.local
      paths:
        - path: /
          pathType: Prefix
